*{
    font-size: 1.6rem;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.header{
    background-color: aqua;
    width: 80%;
    height: 30rme;
    border: 1px solid gray;

}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: gray;
}

.header-menu{
    background-color: rgb(25, 30, 28);
}

.main{
    border: 1px solid gray;
    width: 80%;
    background-color: blueviolet;
}

.section{
    border: 1px solid gray;
    width: 80%;
    background-color: yellow;
}

.article{
    border: 1px solid gray;
    width: 80%;
    background-color: rgb(34, 252, 81);
}

.aside{
    width: 80%;
    background-color: rgb(28, 67, 240);
}

.figure{

    margin: 2rem auto;
    width: 80%;
    text-align: center;
}



.footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: aliceblue;

}